---
import type { HTMLAttributes } from 'astro/types'

type ButtonVariant = 'green' | 'transparent' | 'transparent-green'

interface Props extends HTMLAttributes<'button'> {
	variant: ButtonVariant
	href?: string
}

const { variant, href, type, ...props } = Astro.props
const linkHref = href ? `#${href}` : undefined
---

<a
	href={linkHref}
	class:list={[
		'btn',
		{
			'btn--green': variant === 'green',
			'btn--transparent': variant === 'transparent',
			'btn--green-transparent': variant === 'transparent-green',
		},
		Astro.props.class,
	]}
	{...props}
>
	<slot />
</a>
