---
type ButtonType = 'green' | 'transparent' | 'transparent-green'

type Props = {
	type: ButtonType
	className?: string
}

const { type, className } = Astro.props

const commonStyles = 'description btn'

const getButtonModification = (type: ButtonType) => {
	const btnStyles = {
		green: 'btn--green',
		transparent: 'btn--transparent',
		'transparent-green': 'btn--green-transparent',
	}

	return btnStyles[type]
}

const btnClassname = `${commonStyles} ${getButtonModification(type)} ${className ? className : ''}`
---

<button class={btnClassname}>
	<slot />
</button>
