@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import './vars.css';
@import './reset.css';

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Manrope', sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	max-width: 1920px;
	margin-inline: auto;
	min-width: 360px;
	background-color: rgb(238, 238, 238);
}

.container {
	max-width: 1808px;
	margin-inline: auto;
	padding: 0 20px;
}

.hero-title {
	font-size: 33px;
	font-weight: 700;
	color: var(--white-color);
	line-height: 110%;
}

.light-description {
	font-size: 16px;
	font-weight: 500;
	color: var(--white-color);
	opacity: var(--opacity-for-light-text);
	letter-spacing: 0.5px;
}

.title {
	font-size: 32px;
	font-weight: 700;
}

.subtitle {
	font-size: 18px;
	font-weight: 700;
}

.subtitle_xl {
	font-size: 28px;
	font-weight: 700;
	line-height: 38px;
}

.description {
	font-size: 16px;
	font-weight: 700;
}

.btn {
	font-size: 16px;
	padding: 16px 48px;
	border: 0;
	border-radius: var(--btn-border-radius);
	cursor: pointer;
	text-align: center;
}

.btn--green {
	background-color: var(--primary-color);
	color: var(--white-color);
}

.swiper-pagination-bullet-active {
	background: var(--primary-color) !important;
}

.swiper-button-next::after,
.swiper-button-prev:after {
	font-size: 25px !important;
	font-weight: 700 !important;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	border-radius: var(--card-border-radius) !important;
}

.swiper-slide:focus {
	outline: none !important;
}

.swiper-slide img {
	border-radius: var(--card-border-radius) !important;
}

.swiper-pagination-bullet {
	width: 12px !important;
	height: 12px !important;
}

.btn--green-transparent {
	background-color: transparent;
	color: var(--primary-color);
	border: 2px solid var(--primary-color);
	transition: all 0.2s;
}

.btn--green-transparent:hover {
	color: var(--white-color);
	background-color: var(--primary-color);
}

.btn--transparent {
	background-color: transparent;
	border: 2px solid var(--white-color);
	color: var(--white-color);
	opacity: 60%;
}

.white-color {
	color: var(--white-color);
}

.green-color {
	color: var(--primary-color);
}

.overflow-none {
	overflow: hidden;
}

.overflow-default {
	overflow: initial;
}

@media screen and (min-width: 480px) {
	.subtitle {
		font-size: 20px;
	}
}

@media screen and (min-width: 768px) {
	.container {
		padding: 0 26px;
	}

	.title {
		font-size: 40px;
	}

	.hero-title {
		font-size: 45px;
	}

	.subtitle {
		font-size: 28px;
	}

	.subtitle_xl {
		font-size: 32px;
		line-height: 44px;
	}

	.description {
		font-size: 20px;
	}
}

@media screen and (min-width: 1440px) {
	.container {
		padding: 0 88px;
	}

	.light-description {
		font-size: 20px;
	}

	.title {
		font-size: 48px;
	}

	.hero-title {
		font-size: 56px;
	}

	.btn {
		font-size: 20px;
	}

	.subtitle {
		font-size: 32px;
		line-height: 44px;
	}

	.subtitle_xl {
		font-size: 40px;
		font-weight: 700;
		line-height: 55px;
	}

	.description {
		font-size: 24px;
	}
}

@media screen and (min-width: 1920px) {
	.container {
		padding: 0 112px;
	}
}
