@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import './vars.css';
@import './reset.css';

body {
	font-family: 'Manrope', sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	max-width: 1920px;
	margin-inline: auto;
}

.container {
	max-width: 1808px;
	margin-inline: auto;
	padding: 0 20px;
}

.hero-title {
	font-size: 33px;
	font-weight: 700;
	color: var(--white-color);
	line-height: 110%;
}

.light-description {
	font-size: 16px;
	font-weight: 500;
	color: var(--white-color);
	opacity: var(--opacity-for-light-text);
}

.title {
	font-size: 32px;
	font-weight: 700;
}

.description {
	font-size: 16px;
	font-weight: 700;
}

.btn {
	padding: 16px 48px;
	border: 0;
	border-radius: var(--btn-border-radius);
	cursor: pointer;
}

.btn--green {
	background-color: var(--primary-color);
	color: var(--white-color);
}

.btn--green-transparent {
	background-color: transparent;
	color: var(--primary-color);
	border: 2px solid var(--primary-color);
}

.btn--transparent {
	background-color: transparent;
	border: 2px solid var(--white-color);
	color: var(--white-color);
	opacity: 60%;
}

.white-color {
	color: var(--white-color);
}

.green-color {
	color: var(--primary-color);
}

@media screen and (min-width: 768px) {
	.container {
		padding: 0 26px;
	}

	.title {
		font-size: 40px;
	}

	.hero-title {
		font-size: 45px;
	}
}

@media screen and (min-width: 1440px) {
	.container {
		padding: 0 88px;
	}

	.light-description {
		font-size: 20px;
	}

	.title {
		font-size: 48px;
	}

	.hero-title {
		font-size: 56px;
	}
}

@media screen and (min-width: 1920px) {
	.container {
		padding: 0 112px;
	}
}
