---
import Button from 'src/shared/components/Button.astro'
---

<section class='hero'>
	<div class='container'>
		<h1 class='desription'>Title</h1>
		<Button type='green'>Оставить заявку</Button>
		<Button type='transparent'>Подробнее</Button>
		<Button type='transparent-green'>Подробнее</Button>
	</div>
</section>
