---
import TextField from 'src/shared/ui/TextField.astro'
import type { HTMLAttributes } from 'astro/types'
import { Image } from 'astro:assets'

import tgLogo from 'src/assets/tg.svg'

interface Props extends HTMLAttributes<'section'> {}
---

<section
	id='Контакты'
	class:list={['contacts', Astro.props.class]}
	{...Astro.props}
>
	<div class='container contacts__container'>
		<h2 class='title contacts__title'>Свяжитесь с нами</h2>
		<h2 class='subtitle-xl contacts__subtitle'>
			<a href='tel:+79601700759'>+7 (960) 170-07-59,</a>
			<a href='mailto:altair_tara@mail.ru'> altair_tara@mail.ru,</a>
			<a href='https://t.me/y0na24'
				><Image width={48} height={48} src={tgLogo} alt='Телеграмм' /></a
			>
		</h2>
		<form class='contacts__form' method='post'>
			<div class='contacts__fields-wrap'>
				<TextField name='name' placeholder='Введите ваше имя' label='Имя' />
				<TextField
					name='telephone'
					placeholder='Введите ваш телефон'
					label='Телефон'
				/>
			</div>
			<TextField
				name='message'
				placeholder='Введите сообщение'
				label='Сообщение'
				isTextArea
			/>
			<button type='submit' class='btn--green btn contacts__btn'
				>Отправить</button
			>
		</form>
	</div>
</section>

<script>
	const form = document.querySelector('.contacts__form') as HTMLFormElement

	let userData = {
		name: '',
		telephone: '',
		message: '',
	}

	function setFormBindings() {
		userData = new Proxy(userData, {
			set(target, prop, value) {
				target[prop] = value
				form.elements[prop].value = value

				return true
			},
		})
		Array.from(form.elements).forEach((element: HTMLInputElement) => {
			element.addEventListener('change', () => {
				userData[element.name] = element.value
			})
		})
	}

	const validationHandler = () => {
		let errors = {
			name: {
				isError: false,
				message: 'Введите имя',
			},
			telephone: {
				isError: false,
				message: 'Введите телефон',
			},
			message: {
				isError: false,
				message: 'Введите сообщение',
			},
		}

		function getErrors() {
			if (!userData.telephone) {
				errors.telephone.isError = true
			}

			if (!userData.name) {
				errors.name.isError = true
			}

			if (!userData.message) {
				errors.message.isError = true
			}

			return errors
		}

		function cleanErrors() {
			Object.keys(errors).forEach(key => {
				if (!errors[key].isError) {
					const errorElement = document.querySelector(`[data-error="${key}"]`)
					errorElement.innerHTML = ''
				}
			})
		}

		return {
			getErrors,
			cleanErrors,
		}
	}
	async function handleSubmit(event: SubmitEvent) {
		event.preventDefault()
		const target = event.target as HTMLFormElement
		let isError = false

		const { getErrors, cleanErrors } = validationHandler()

		cleanErrors()
		const errors = getErrors()

		Object.keys(errors).forEach(key => {
			if (errors[key].isError) {
				const field = errors[key]
				const errorElement = document.querySelector(`[data-error="${key}"]`)
				errorElement.innerHTML = field.message
				isError = true
			}
		})

		if (isError) return

		const formData = new FormData(target)

		form.reset()
		fetch('https://formspree.io/f/xqakdjnd', {
			method: form.method,
			body: formData,
			headers: {
				Accept: 'application/json',
			},
		})
			.then(response => {
				if (!response.ok) {
					throw new Error()
				}

				cleanErrors()
			})
			.catch(() => {
				alert('Произошла ошибка при отправке формы')
			})
	}

	setFormBindings()
	form.addEventListener('submit', handleSubmit)
</script>

<style>
	.contacts__title {
		text-align: center;
	}

	.contacts__subtitle {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 8px;
		text-align: center;
		margin-bottom: 42px;
	}

	.contracts__subtitle {
		margin-bottom: 15px;
	}
	.contacts__form {
		display: flex;
		flex-direction: column;
		gap: 32px;
	}

	.contacts__fields-wrap {
		display: flex;
		flex-direction: column;
		gap: 32px;
	}

	@media screen and (min-width: 1440px) {
		.contacts__fields-wrap {
			flex-direction: row;
		}
	}
</style>
