---
import type { ImageMetadata } from 'astro'
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'li'> {
	title: string
	description: string
	smImgSrc: ImageMetadata['src']
	lgImgSrc: ImageMetadata['src']
}

const { title, description, smImgSrc, lgImgSrc } = Astro.props
---

<li class:list={['options-card', Astro.props.class]}>
	<img src='' alt='' />
</li>

<style>
	.options-card {
		background-color: #eeee;
		padding: 18px;
	}
</style>
