---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'section'> {}
---

<section class:list={['recomendations', Astro.props.class]} {...Astro.props}>
	<div class='container'>
		<h2 class='title recomendation__title'>Нас рекомендуют</h2>

	</div>
</section>

<style>
	.recomendation__title {
		margin-bottom: 42px;
	}
</style>
