---
import BurgerSidebar from 'src/shared/ui/BurgerSidebar.astro'
import Header from 'src/shared/ui/Header.astro'
import type { HTMLAttributes } from 'astro/types'
import Button from 'src/shared/ui/Button.astro'

interface Props extends HTMLAttributes<'section'> {}
---

<section id='О нас' class:list={['hero', Astro.props.class]} {...Astro.props}>
	<BurgerSidebar />
	<div class='container'>
		<Header />
		<h1 class='hero-title hero__title'>
			Опытный производитель военной и промышленной тары
		</h1>
		<p class='light-description hero__description'>
			Компания «Альтаир» — это опытный производитель военной и промышленной
			тары, работающий в сфере дерево и металлообработки более 10 лет.
			<br class='divider' />
			Мы обеспечиваем полный цикл производства: от разработки концепции до отправки
			изделий заказчику транспортными компаниями.
		</p>
		<div class='button-group'>
			<Button
				href='Контакты'
				class='button-group__btn--agreement'
				variant='green'>Оставить заявку</Button
			>
			<Button
				href='Контакты'
				class='button-group__btn--agreement-sm'
				variant='green'>Cвязаться</Button
			>
			<Button
				href='Возможности'
				class='button-group__btn--details'
				variant='transparent'>Подробнее</Button
			>
		</div>
	</div>
</section>

<style>
	.hero {
		background-image: url('../../../../assets/manufacture-480.png');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		min-height: 800px;
	}

	.divider {
		display: none;
	}

	.button-group__btn--agreement {
		width: 208px;
		padding-inline: 35.5px;
		display: none;
		transition: all 0.2s;
	}

	.button-group__btn--agreement:hover {
		color: var(--primary-color);
		background: var(--white-color);
	}

	.button-group__btn--agreement-sm {
		width: 100%;
		transition: all 0.2s;
		padding: 14px 20px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.button-group__btn--agreement-sm:hover {
		color: var(--primary-color);
		background: var(--white-color);
	}

	.button-group__btn--details {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		transition: all 0.2s;
		padding: 14px 20px;
	}

	.button-group__btn--details:hover {
		color: currentColor;
		background-color: var(--white-color);
	}

	.hero__title {
		margin-bottom: 24px;
	}

	.hero__description {
		margin-bottom: 36px;
	}

	.button-group {
		display: flex;
		gap: 24px;
	}

	@media screen and (min-width: 480px) {
		.button-group__btn--agreement {
			display: block;
		}

		.button-group__btn--agreement-sm {
			display: none;
			width: 216px;
		}
	}

	@media screen and (min-width: 768px) {
		.button-group {
			gap: 16px;
		}

		.hero {
			background-image: url('../../../../assets/manufacture-768.png');
		}

		.button-group__btn--agreement {
			width: inherit;
			padding-inline: 48px;
		}

		.button-group__btn--details {
			width: inherit;
		}
	}


	@media screen and (min-width: 1440px) {
		.hero {
			background-image: url('../../../../assets/manufacture-1440.png');
		}

		.hero__title,
		.hero__description {
			max-width: 880px;
		}
	}

	@media screen and (min-width: 1750px) {
		.hero {
			background-image: url('../../../../assets/manufacture-1920.png');
		}
	}

	@media screen and (min-width: 1920px) {
		.hero__description {
			max-width: 758px;
		}

		.divider {
			display: block;
		}
	}
</style>
