<div class='overlay'></div>
<div class='sidebar'></div>

<style>
	.overlay {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.37);
		z-index: 50;
		visibility: hidden;
		opacity: 0;
		transition: all 0.3s;
	}

	.overlay--show {
		opacity: 1;
		visibility: visible;
	}

	.sidebar {
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		background: rgb(238, 238, 238);
		z-index: 100;
    width: 70%;
		transform: translateX(100%);
		transition: all 0.3s;
	}

	.sidebar--open {
		transform: translateX(0%);
	}
</style>

<script>
	const burgerMenuBtn = document.querySelector('.burger-menu')
	const sidebar = document.querySelector('.sidebar')
	const overlay = document.querySelector('.overlay')

	burgerMenuBtn.addEventListener('click', () => {
		sidebar.classList.add('sidebar--open')
		overlay.classList.add('overlay--show')
	})

	document.addEventListener('click', event => {
		const target = event.target as Node

		if (!sidebar.contains(target) && event.target !== burgerMenuBtn) {
			sidebar.classList.remove('sidebar--open')
			overlay.classList.remove('overlay--show')
		}
	})
</script>
